@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.bg {
    background-image: url("Images/bg.jpg");
    background-position: center center;
    background-size: max(1350px, 100vw);
    background-repeat: no-repeat;
    height: 650px;
    position: relative;
}

.bg .box {
    height: 6450px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    background-color: black;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    max-width: 80vw;
    margin: auto;
    height: 100px;
    flex-wrap: wrap;
    /* cursor: pointer; */
}

.logo img {
    position: relative;
    z-index: 10;
    height: 40px;
     opacity: 90%;
}

.button {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

.button .english {
    font-size: 16px;
    border-radius: 3px;
    padding:3px 40px 2px 40px;
    background-color: rgba(23, 23, 23, 0.7);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.151);
    font-family: "Martel Sans", sans-serif;
    font-weight: bold;
}

.button .signin {
    font-size: 14px;
    border-radius: 3px;
    padding: 2px 20px 1px 20px;
    background-color: rgb(255, 10, 10);
    border: 1px solid red;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: "Martel Sans", sans-serif;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: calc(100% - 100px);
    gap: 23px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0px 5%;
    text-align: center;
}


.text .text1 {
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
}

.text .text2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.text .text3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.mailid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;
}

.text .mail {
    padding:14px 104px 13px 54px;;
    font-size: 16px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(128, 128, 128, 0.143);
    border-radius: 4px;
    font-family: "Martel Sans", sans-serif;
    line-height: 24px;
    font-weight: 900;
    color: white;
}


.getstarted{
    padding: 5px 42px 4px 32px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 4px;
    font-family: "Martel Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 23px;
}

.line{
    position: relative;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.465);
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    position: relative;
    top: 10vh;
    
}

.text4{
    display: flex;
    flex-direction: column;
    /* padding: 34px 0; */
    gap: 15px;
    
}

.text4 .enjoy{
    font-size: 48px;
    /* font-family: "Martel Sans", sans-serif; */
    font-family: sans-serif;

}

.text4 .watch{
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
}

.secimg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.secimg img{
    position: relative;
    width: 555px;
    z-index: 10;

}

.secimg video{
    position: absolute;
    width: 470px;
    top: 75px;
    right: 11px;
    
}

.line2{
    position: relative;
    top: 23vh;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.465);
    
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30vh;
    color: white;
    gap: 7vw;
    margin: auto;
    max-width: 90vw;

}

.text5{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text5 .download{
    font-size: 48px;
    font-weight: bolder;
    /* font-family: "Martel Sans", sans-serif;
     */
     font-family: sans-serif;
    
}

.text5 .save{
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
}

.line3{
    position: relative;
    top: 45vh;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.465);
}

.third{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 57vh;
    color: white;
    margin: auto;
    max-width: 100vw;
}
